
/* =================================================================================
    ESTILOS BASE (PARA MOBILE Y DESKTOP)  Y CONFIGURACIÓN MOBILE 
==================================================================================== */
  
/*-------------------------------------------------------------------*/
/*------------CONFIGURACIÓN DEL NAV---------*/
/*-------------------------------------------------------------------*/

  /*Configuración general de los íconos*/
  .bi-house-door, .fa-solid, .bi-question-circle, .bi-person, .bi-envelope {
    color: white;
    font-size: 1.2rem;
  }

  /*Contenedor (a) para manejar lo que está dentro el texto. Padre de los textos*/
  .nav-link {
    color: white !important;
    transition: .3s;
    font-family: "Cormorant Garamond", sans-serif;

  }

  .nav-link:hover {
  /*Cuando se pasa el mouse por los link del nav*/
    background: none;
    color: #f6deb0;
    padding-left:12px;
  }

  .nav-link:hover i{ /*cuando pasen el mouse por ahi tambien cambie de color los iconos*/
    color: #f6deb0;
  }

  
  /*-------------------------------------------------------------------*/
  /*--------------------------CONFIGURACIÓN FOOTER---------------------*/
  /*-------------------------------------------------------------------*/

  footer li {
    font-family: "Montserrat",sans-serif;
  }

  footer h3 {
    font-family: "Cormorant Garamond",sans-serif;
    
  }

  
  .nav-link-footer:hover {
  /*Cuando se pasa el mouse por los link del nav*/
    background: none;
    color: #f6deb0 !important;
  }

  .social-icon{

      border: 2px solid #cba135;
      border-radius: 50%;
  }

  /*Esto es para cuando se toquen con el mouse se hagan un poquito para arriba*/
  .social-icon:hover{
      transform: translateY(-4px);
  }

  /*Para que los íconos se pongan de ese color*/
  footer .bi{
  
    color: #cba135;

  }

  .footer-whatsapp {
    border: solid 1px #cba135;
    border-radius: 10px;
  }

  .footer-whatsapp a:hover {
    color: #cba135 !important;
  }

  /* =========================================================
  copyright
========================================================= */

.copyright {
  background-color: #2a2a2a;
}

  
/* ==========================================================================
    CONFIGURACIÓN ESCRITORIO (A partir de 950px)
============================================================================= */

@media screen and (min-width: 950px){

  /*-------------------------------------------------------------------*/
  /*--------------------------CONFIGURACIÓN MENÚ-----------------------*/
  /*-------------------------------------------------------------------*/

  /*Cuando se pasa el mouse por los link del nav*/
  .nav-link:hover {
    background: linear-gradient(
          90deg,
          #8d6e2f,
          #cba135,
          #f2d27a
      );
    color: black !important;
    border-radius: 30px;
  }

  .nav-link:hover i{ /*cuando pasen el mouse por ahi tambien cambie de color los iconos*/
      color: black;
  }


}

